body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.alert {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 15px;
    border-radius: 5px;
    width: 21vh;
    max-width: 300px;
    margin-bottom: 20px;
    font-size: 16px;
}

.container {
    display: flex;
    width: 80%;
    height: 80%;
}
.left-section, .right-section {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.left-section {
    text-align: right;
    padding-right: 50px;
}
.right-section {
    text-align: left;
    padding-left: 50px;
}
.divider {
    position: absolute;
    top: 14rem;;
    bottom: 20%;
    left: 50%;
    width: 2px;
    background-color: #333;
}
.logo img {
    max-width: 100px;
    margin-bottom: 20px;
}
.features {
    text-align: left;
}
.feature {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.feature .icon {
    font-size: 24px;
    margin-right: 10px;
}
.feature-content {
    text-align: left;
}
h1 {
    font-size: 28px;
    margin-bottom: 20px;
}
form {
    max-width: 300px;
    display: flex;
    flex-direction: column;
}
form input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #333;
    background-color: #1b1b1b;
    color: #fff;
}
form a {
    color: #8c8c8c;
    font-size: 14px;
    text-align: right;
    margin-bottom: 20px;
    text-decoration: none;
}
form button {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #1D7129;
    border: 1px solid #fff;
    cursor: pointer;
}


.button-register{
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #121212;
    border: 1px solid #fff;
    cursor: pointer;
    margin-top: 2rem;
}

form p {
    margin-top: 15px;
    font-size: 14px;
}
form p a {
    color: #1D7129;
    text-decoration: none;
}

.second-line-with-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    position: relative;
}
.second-line-with-text::before,
.second-line-with-text::after {
    content: '';
    flex-grow: 1;
    border-top: 1px solid #333;
}
.second-line-with-text span {
    padding: 0 10px;
    font-size: 14px;
}

.first-line-with-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.first-line-with-text span {
    padding: 0 40px;
    font-size: 14px;
}

.first-line-with-text::before,
.first-line-with-text::after {
    content: '';
    flex-grow: 1;
    border-top: 1px solid #333;
}

.container {
    display: flex;
    width: 80%;
    height: 80%;
}

.left-section {
    text-align: right;
    padding-right: 50px;
}
.right-section {
    text-align: left;
    padding-left: 50px;
}

@media (max-width: 1024px) {
    /* .container {
        flex-direction: column;
        padding: 20px;
    }
    .left-section, .right-section {
        flex: 1;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
}
    .right-section {
        text-align: left;
        padding-left: 50px;
    }
    .left-section {
        text-align: right;
    padding-right: 50px;
    }
    .divider {
        display: none;
    }
    div.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
} */

}

@media (max-width: 899px) {
    .container {
        flex: 0;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }
    .right-section {
        padding: 20px;
        align-items: center;
    }

    .logo img {
        max-width: 90px;
        margin-bottom: 20px;
    }
    .left-section {
        display: none;
    }
    h1 {
        font-size: 24px;
    }
    form input {
        font-size: 22px;
    }
    form button {
        font-size: 14px;
    }
    div.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
    }
    .divider {
            display: none;
        }
}

@media (max-width: 480px) {
    
    .right-section {
        text-align: center;
        padding: 15px;
        align-items: center;
    }
    .left-section {
        display: none;
    }
    div .logo{
        margin-bottom: -3rem;

    }
    .logo img {
        max-width: 70px;
    }
    h1 {
        font-size: 22px;
    }
    form {
        max-width: 100%;
    }
    form input {
        font-size: 14px;
        padding: 8px;
    }
    form button {
        font-size: 14px;
        padding: 8px;
    }
    div.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
}