.carousel-outer {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto 48px auto;
  overflow: hidden;
  border-radius: 18px;
  padding: 24px 0;
  margin-bottom: 10rem;
}

.carousel-inner {
  user-select: none;
  will-change: transform;
}

.carousel-img-wrap {
  min-width: 400px;    
  height: 400px; 
  height: 200px;
  border-radius: 14px;
  overflow: hidden;
  background: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.2s, transform 0.2s;
}

.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}